@import "tailwindcss";

html,
body {
  max-width: 100vw;
  /* overflow-x: hidden; */
}

:root {
  /* Light = Brown */
  --theme-primary: #b57b64;
  --theme-secondary-D: #f4f0ee;
}

/* Dark = Blue */
[data-theme="dark"] {
  --theme-primary: #486892;
  --theme-secondary-D: #c8d3db;
}

@theme {
  /* Blue */
  /* --color-primary: #486892; */
  /* --color-secondary-D: #c8d3db; */
  /* Brown */
  /* --color-primary: #b57b64; */
  /* --color-secondary-D: #f4f0ee; */

  --color-primary: var(--theme-primary);
  --color-secondary-D: var(--theme-secondary-D);

  --color-secondary-L: #f3f3f3;
  --color-social: #7d8894;
  --color-footer: #ebebeb;
}

@layer base {
  h1 {
    @apply text-3xl md:text-4xl lg:text-5xl
           font-semibold
           leading-tight;
  }

  h2 {
    @apply text-2xl md:text-3xl lg:text-4xl
           font-medium
           leading-snug;
  }

  h3 {
    @apply text-xl md:text-2xl lg:text-3xl
           font-medium
           leading-snug;
  }

  h4 {
    @apply text-lg md:text-xl lg:text-2xl
           font-medium;
  }

  h5 {
    @apply text-base md:text-lg
           font-medium;
  }

  h6 {
    @apply text-sm md:text-base
           font-medium;
  }

  p {
    @apply text-base md:text-base
           leading-relaxed;
  }

  span {
    @apply text-base;
  }

  small {
    @apply text-sm;
  }

  a {
    /* @apply text-black; */
  }

  button {
    @apply font-medium
           text-sm md:text-base
           leading-none
           tracking-wide;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto;
  }
  .section-padding {
    @apply px-4 py-16
           md:px-8 md:py-20
           lg:px-12 lg:py-24;
  }
  .flex-center {
    @apply flex justify-center items-center;
  }
  .flex-center-x {
    @apply flex justify-center;
  }

  .flex-center-y {
    @apply flex items-center;
  }
  .icon-size {
    @apply w-8 h-8;
  }

  .btn {
    @apply flex items-center border border-white/20 bg-primary hover:bg-primary/85 text-white px-4 py-4 rounded-lg cursor-pointer;
  }

  .btn-outline {
    @apply bg-white/85 border-2 text-black border-primary hover:bg-white;
  }
  .testimonial-card {
    @apply bg-white border border-primary rounded-xl p-6 flex flex-col justify-between;
  }

  .img-radius {
    @apply rounded-sm;
  }
}
